@font-face {
    font-family: "open";
    src: url("OpenSans-Regular.ttf");
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nasa";
    src: url("nasalization-rg.ttf");
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}
main {
    font-family: "open";
    font-size: 14px;
    background-color: #f2f2f2; 
    width: 810px;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-image: url(texture-header.jpg);
}
a:hover {
    color: #17c1ff;
}
h1 {
    font-family: "nasa";
    font-size: 40px;
    color: #27d1ff;
    text-align: center;
}
nav {
    display: inline-block;
    background-color: #2e2f30;
    margin: 0px;
    color: white;
    text-align: right;
    vertical-align: center;
    width: 100%;
}
header nav * {
    padding-right: 50px;
}
.centrage {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
}
main.Accueil > h2 {
    text-shadow: 1px 1px 2px black; background-color: #D3D3D3; 
}
p, h2 {
    text-align: center;
    width: 750px;
    padding: 10px;
}
.image1 {
    float: left;
}
.image2 {
    float: right;
}
table {
    height: 480px;
    width: 810px;
    text-align: center;
}
thead {
    background-color: #77b5fe;
}
main.Programme > h2 {
    text-shadow: 1px 1px 2px black; background-color: #D3D3D3;
}
main.Contact > h2 {
    text-shadow: 1px 1px 2px black; background-color: #D3D3D3; 
}
.formulaire {
    width: 810px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.Nom-et-Prénom, .Mail, .Message {
    padding: 5%;
    width: 300px;
    height: 30px;
    border-color: #e6e6e6;
    border-width: 2px;
}
nav a#current
{
font-weight: bold;
color: #17c1ff;
}